<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>HTML5</title>
    <link rel="stylesheet" type="text/css" href="/static/login_page.css">
</head>
<body>
<div class='login-div'>
    <div class='login-mini-div'>
        <h1>Login</h1>
    </div>
    <form action='cgi-bin/login' method="get">
        <div class='login-mini-div'>
            <input type="text" id='nick-field' name="username" placeholder="Username">
        </div>
        <div class='login-mini-div'>
            <input type="password" id='passwd-field' name="password" placeholder="Password">
        </div>
        <div class='login-mini-div'>
            <input class='login-btn' type="submit" value="Login">
        </div>
        <a id='forgot-passwd' href="/forgot">
            forgot password?
        </a>
        <a id='sing-up-btn' href="/registration">
            Sing up
        </a>
    </form>
    <script type='module'>
        import {checking_nickname} from "../static/login_page.js";

        let field = document.getElementById("nick-field");
        let current_value = field.value
        field.addEventListener("input", function () {
            if (current_value != field.value) {
                checking_nickname()
                current_value = field.value
            }
        });
        /* document.getElementById('nick-field').onchange = checking_nickname() */
    </script>
</div>
</body>
</html>
